.recommended-flex {
  display: flex;
  margin-left: 16.5rem;
}

.recommended-flex button:hover{
  background-color: #d8d8d8;
}

.recommended-title {
  margin-left: 16.5rem;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
}